<app-navbar></app-navbar>
<!-- <div class="container mt-5 p-2 pt-4 pb-4"> -->
<div class="pt-5" style="position: relative; top: 86px; margin: 0px 10%;">
  <h1 class="text-">¡Book Stand!</h1>
  <div class="bg-transparent rounded-border p-4 fs-5">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus tempora quod molestiae dolorem explicabo voluptatum obcaecati. Earum nobis hic doloribus odit magnam illo, iusto sapiente reprehenderit? Libero, nulla. Voluptatem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eos quisquam aspernatur ratione iusto, sapiente ipsa magni laboriosam vitae nam obcaecati porro neque repudiandae alias! In accusamus ducimus recusandae sint!</p>

    <app-book></app-book>
  </div>
</div>