<div class="d-flex justify-content-between align-items-center">
    <img class="book-cover" src="./assets/img/gulliver_cover.jpeg" alt="Portada de 'Los viajes de Guilliver'" srcset="">
    <div class="p-5">
      <p><b>Título:</b> Los Viajes de Guilliver</p>
      <p><b>ISBN:</b> 9788418008955</p>
      <p><b>Autor:</b> Jonathan Swift</p>
      <p><b>Editorial:</b> Austral</p>
      <p><b>Año de publicación:</b> 1726</p>
      <p><b>Tipo:</b> Novela de Aventura</p>
      <p><b>Idioma:</b> Español</p>
      <p><b>Empastado:</b> Tapa dura</p>
      <p><b>Número de páginas:</b> 352</p>
      <p><b>Precio:</b><span class="text-success"> $400</span></p>
      <p class="text-justify"><b>Sinopsis: </b> 
        <span>
          Es una amarga crítica contra la sociedad y la condición humana, a la vez que una parodia del subgénero literario de los «relatos de viajes», tan común en la época.
          Gulliver es un apasionado de los viajes. Sus aventuras lo llevan a lugares extraordinarios: Liliput, donde viven personas minúsculas, a Brobdingnag, país habitado por gigantes, de la isla voladora de Laputa a la tierra de los houyhnhnms, los sabios caballos parlantes.
        </span>
      </p>
    </div>
</div>