<h1>Autores selectos</h1>

<div class="d-grid gap-5 pb-4">
    <div class="bg-transparent rounded-border fs-5 p-4">
        <p>Algunas de las mentes más espectaculares de la historia; intrigados por la aventura, romance, misterio, entre muchas otras situaciones excepcionales que despiertan lo mejor del ser humano.</p>
    </div>

    <div class="bg-transparent icon-text rounded-border fs-5 p-4 gap-4 justify-content-center flex-wrap flex-lg-nowrap"
        *ngFor="let autor of autores">
        <img class="container-img border border-5 border-dark" src="./assets/img/robert-louis-stevenson.png" alt="Imagen del autor 'Robert Louis Stevenson'">
        <div>
            <h2 class="darkblue-font">
                {{autor.nombre}}
            </h2>
            <p class="blue-font fs-5">({{autor.seudonimo}})</p>
            <p class="text-justify">{{autor.descripcion}}</p>
            <p class="icon-text">
                <span class="material-icons fs-4 me-1">&#xe153;</span>
                <span>
                    <b>País de origen: </b>
                    {{autor.pais}}
                </span>
            </p>
            <p class="icon-text">
                <span class="material-icons fs-4 me-1">&#xebcc;</span>
                <span>
                    <b>Año de nacimiento: </b>
                    ({{autor.anio_nacimiento}})
                </span>
            </p>
        </div>
    </div>
</div>

