<h1>Autores selectos</h1>

<div class="d-grid gap-5 text-justify pb-4">
    <div class="bg-transparent rounded-border fs-5 p-4">
        <p>Algunas de las mentes más espectaculares de la historia; intrigados por la aventura, romance, misterio, entre muchas otras situaciones excepcionales que despiertan lo mejor del ser humano.</p>
    </div>

    <div class="bg-transparent icon-text rounded-border fs-5 p-4 gap-4" *ngFor="let i of [].constructor(5)">
        <img class="author-img" src="./assets/img/robert-louis-stevenson.png" alt="Imagen del autor 'Robert Louis Stevenson'">
        <div>
            <h2 class="darkblue-font">
                Robert Louis Balfour Stevenson
            </h2>
            <p class="blue-font fs-5">(Robert L. Stevenson)</p>
            <p class="text-justify">Escritor escocés autor de novelas, crónicas de viaje y ensayos, pues desde su infancia sintió inclinación por la literatura. Enfermo de tuberculosis, se vio obligado a viajar continuamente en busca de climas apropiados a su delicado estado de salud. Sus primeros escritos publicados son descripciones de algunos de estos viajes.</p>
            <p class="icon-text">
                <span class="material-icons fs-4 me-1">&#xe153;</span>
                <span>
                    <b>País de origen: </b>
                    Escocia
                </span>
            </p>
            <p class="icon-text">
                <span class="material-icons fs-4 me-1">&#xebcc;</span>
                <span>
                    <b>Año de nacimiento: </b>
                    (1850)
                </span>
            </p>
        </div>
    </div>
</div>

