/* You can add global styles to this file, and also import other style files */
.position-nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 86px;
}

.bg-navbar {
    // background-color: rgba(156, 134, 32, 0.5);
    // background-color: rgba(0, 100, 175, 0.5);
    // background-color: rgba(164, 213, 228, 0.75);
    // background-color: rgba(96, 190, 219, 0.75);
    background: linear-gradient(rgba(164, 213, 228, 0.75), rgba(96, 190, 219, 0.75));
}

.bg-transparent {
    background-color: rgba(255,255,255, 0.4) !important;
}

.bg-null {
    background-color: rgba(255,255,255, 0) !important;
}

.bg-blue {
    background-color: rgb(53, 89, 128) !important;
}

.bg-darkblue {
    background-color: rgb(20, 76, 136) !important;
}

.blue-font {
    color: rgb(53, 89, 128);
}

.darkblue-font {
    color: rgb(20, 76, 136);
}

.rounded-border {
    border-radius: 1.5rem;
}

.book-cover {
    max-width: 500px;
    max-height: 650px;
}

.container-img {
    max-width: 300px;
    max-height: 300px;
}

.cursor-pointer {
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.cursor-pointer:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.text-justify {
    text-align: justify;
}

.user-name {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid transparent;
    color: rgb(53, 89, 128);
}

.navbar-brand:hover {
    color: rgb(20, 76, 136);
    border-radius: 1.5rem;
    // padding: 10px 14px;
    border: 1px solid rgb(84, 96, 109);
    background: linear-gradient(rgba(96, 190, 219, 0.75), rgba(164, 213, 228, 0.75));
    cursor: pointer;
}

.shopping-cart {
    color: rgb(53, 89, 128);
    font-size: 30px;
    padding: 10px;
}

.crystal-border {
    border: 1px solid transparent;
}

.nav-link:hover {
    background-color: white;
}

.icon-text {
    display: flex !important;
    align-items: center !important;
}

.card-shadow {
    box-shadow: 5px 5px 1.5rem rgb(100, 100, 100) !important;
}

// Color de inputs en formularios
.mat-form-field-flex {
    background-color: rgb(195, 237, 250) !important;
}

// Color de inputs al hacer hover o seleccionar una opción sugerida
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 10px rgb(195, 237, 250) inset !important;
}

// Propiedades para snackbar
.snackbar {
    border: 1px solid rgb(20, 76, 136);
    background: linear-gradient(rgba(164, 213, 228, 0.75), rgba(96, 190, 219, 0.75));
    color: rgb(0, 0, 0);
    font-weight: bold;
    overflow-wrap: break-word;
    
    .mat-button-wrapper {
        color: black !important; // action text color
    }
}

body {
    // background-color: rgb(250, 225, 195);
    background-color: rgb(195, 237, 250);
    // Colocadas por Angular Material
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
}

h1 {
    color: rgb(84, 96, 109);
}
html, body { height: 100%; }
